<div class="container-fluid" ng-controller="SiteMgmtAnnouncement">
    <div class="jumbotron">
        <!-- DIV for WYSIWYG text editor summer note -->
        <div class="row">
            <div class="col-md-12" >
                <div id="announcementEditor">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" >
                <a class="btn btn-primary btn-md" role="button" ng-click="onAnnouncementSave()">SAVE</a>
            </div>
        </div>
    </div>
</div>